html, body {
  height: 100%;
  width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&family=Open+Sans:ital,wght@0,400;0,500;1,500;1,600&family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap');

#header{
  font-family: 'Merriweather', serif;
  font-size: 20pt;
  align-items: center;
  
}

#btnload{
  background: skyblue;
  font-family: Arial, Helvetica, sans-serif;
}